body {
  background-image: linear-gradient(to left, #FF8F59, #F75000);
}

#content {
  position: relative;
  justify-content: center;
  width: 400px;
  top: 20%;
  left: 30%;
}

h2 {
  text-align: center;
}

.sectionDiv {
  display: flex;
  background-color: #FFF;
  border-radius: 5px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 12px 6px;
  margin-top: 6px;
  cursor: pointer;

  &:hover {
    background-color: #FFCBB3;
  }
}

p.title {
  margin: 0px;
}

div.answer {
  background-color: #FFF;
  border-top: 1px solid;
  border-color: #ADADAD;
  border-radius: 5px;
  padding: 12px 6px;
  margin-top: 0px 0px 6px 0px;
  font-size: 14px;
}

.slide-down {
  animation: slide-down 0.1s linear both;
}

.slide-up {
  display: none;
}

@keyframes slide-down {
  0% {
    display: none;
    height: 0;
  }

  95% {
    display: block;
    height: 4rem;
  }

  100% {
    display: block;
    max-height: auto;
  }
}

.transform {
  transform: rotate(45deg);
}

.color {
  background-color: #FFCBB3;
}